.App {
  text-align: left;
}

.folder {
  cursor: pointer;
}

.open {
  display: block;
}

.folder.parent {
  display: block;
}
.folder,
.file {
  padding-left: 12px;
}
.App > .folder {
  display: block !important;
}

.path button {
  margin: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}
